In [85]:
import os
import json
import pandas as pd
import re
import numpy as np

In [86]:
all_file = os.listdir(os.getcwd())
txt_file = list(filter(lambda x:x.split('.')[-1]=='txt', all_file))
txt_file.sort()

In [93]:
all_authors = []
for tf in txt_file:
    with open(tf, 'r') as f:
        alphabet = tf[7]
        contents = f.read()
        contents = contents.replace('<script type="text/javascript">generateChartData(','')
        contents = contents.replace(');</script>','')
        authors_dat = eval(contents)
        all_authors+=authors_dat

In [95]:
sex_data = dict()
for author in all_authors:
    name = author['AuthorName']
    sex = author['Sex']
    sex_data[name] = sex

In [100]:
with open('../sex_json.json','w') as f:
    json.dump(sex_data, f)

In [126]:
sex_df.rename(columns = {'n':'n', 's':f's{i}'})

                        n s1
0             Henry Aaron  1
1         Daniel Aaronson  1
2          Jørgen Aasness  1
3          Alberto Abadie  1
4           Jason Abaluck  1
...                   ... ..
7378         Asaf Zussman  1
7379  Alix Peterson Zwane  0
7380     Josef Zweimüller  1
7381         Burton Zwick  1
7382      Jeffrey Zwiebel  1

[7383 rows x 2 columns]

In [20]:
list(txt_file)

TypeError: 'NoneType' object is not iterable

In [60]:
re.split(' (?!Jr.)', 'Robert E. Lucas, Jr.')

['Robert', 'E.', 'Lucas, Jr.']

In [78]:
sex_data['V']['Thierry Verdier']

'1'

In [62]:
def findSex(n):
    name_split = re.split(' (?!Jr.)', n)
    alpha = name_split[-1][0]
    print(sex_data[alpha][n])

In [75]:
findSex('C. R. Wymer')

KeyError: 'C. R. Wymer'

In [96]:
len(sex_data)

7383

In [103]:
sex_data['A. A. Ryvkin']

'1'

In [106]:
l = []
for n in sex_data.keys():
    l.append(len(re.split(' (?!Jr.)', n)))

NameError: name 'with_abs' is not defined